<ul class="rss_and_top">   
<li><h5><code>Subscribe via <a href="/feed.xml">RSS</a></code></h5></li>
<li><h5><code><a class="top" href="#top">&uarr; Top</a></code></h5></li>
</ul>
<br>
</article>
</main>
<footer>
    <br>
    <br>
        <small>
        <a href="/tos"> Terms  </a> |
        <a href="/privacy">  Privacy </a>
        </small>
    <br>
    <br>
    <small>
       Copyright © 2024 <a href={{ site.url }}>{{ site.author }}</a>. All Rights Reserved.
    </small>
</footer>
</body>
</html>
